@font-face {
  font-family: 'RubikRegular';
  src: url('./Rubik-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RubikMedium';
  src: url('./Rubik-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'RubikBold';
  src: url('./Rubik-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}