.table {
  display: flex;
  align-items: center;
  width: 70vw;
  max-width: 1000px;
  padding: 30px 30px 50px;
  margin-top: 45px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background: $white;
  z-index: 1;
  // transform: translateY(50%);
}

.cell {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  width: 25%;
  &:not(:last-child) {
    &:after {
      content: "";
      height: 70%;
      width: 1px;
      background: $grey;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate3d(0, -50%, 0);
    }
  }
}

.cellTitle {
  font-family: $rubik;
  font-size: 18px;
  color: $grey;
}

.cellContent {
  margin-top: 15px;
  font-size: 22px;
  font-family: $rubikMedium;
}
